.route-card-container{
    display: grid;
    justify-content: center;
    align-content: center;
}
.dashboard-content{
    display: flex;
    justify-content: center;
    align-content: center;
}

.dash-btn{
        background-color: #28a745;
        border: none;
        color: cornsilk;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        padding: 0.5em;
        border-radius: 4px;
        width: 75%;
        margin: 1em;
        word-wrap: break-word;
}

.dash-btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.btn-container{
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    text-align: center;
}

.route-header{
    color: #28a745;
    justify-content: center;
    text-align: center;
    margin: 1em
}
