.route-detail{
    margin: 1em;
    padding: 1em;
    width: 25vw;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #e9ffe8;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
}


.route-detail-content button{
    width: 75px
}

.route-detail-map{
    margin: 1em;
    border: 1px solid black;
    border-radius: 5px;
}