fieldset {
    max-width: 40em;
    padding: 4px;
    margin: 2em auto;
    border: 0 none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background: #e9ffe8;
}

fieldset input{
    box-sizing: border-box;
    padding: .2em .4em;
    margin: .2em 0;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
}

fieldset label {
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    margin: 1em;
}
fieldset input:focus + label {
    color: #933;
}

fieldset .formgrid {
    display: grid;
    grid-template-columns: 1fr 1em 2fr;
    grid-gap: .3em .6em;
    grid-auto-flow: dense;
    align-items: center;
}

.route-form{
    justify-content: center;
    text-align: center;
    margin: 1em;
}

.route-header{
    color: #28a745;
}

.route-center{
    display: flex;
    justify-content: center;
    margin: 2em;
}

.route-map{
    margin: 1em;
    border: 1px solid black;
    border-radius: 5px;
}